@import '../../styles/color.scss';
@import '../../styles/spacing.scss';

.aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    height: calc(100vh - 56px);
    background: $aside-bg;
    padding-top: 35px;
    margin-top: $header-height;

    .aside_item{
       width: 142px;
       height: 35px;
       display: flex;
       justify-content: center;
       align-items: center;
       color: $text-color;
       background: $section-bg;
       border-radius: $button-border-radius;
       margin-bottom: $main-spacing;
       cursor: pointer;

       &:hover{
           background: $button-hover-bg;
       }

       &.aside_item__active {
           background: $aside-button-active;
           color: $dark-bg-text-color;
       }
    }
}
