$header-bg: #82A098;
$aside-bg: #D9E1B3;
$aside-button-active: #A1AE86;
$section-bg: #fff;
$text-color: #000;
$button-bg: #D9E1B3;
$button-hover-bg: #B5C09F;
$rank-first: #CBD795;
$rank-second: #D3DCAA;
$rank-third: #E9EFCB;
$home-studentList-bg: #FAFEE6;